/*============= Global Css =============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 4vh;
}

/*------- navbar -------*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-center {
    width: 80vw;
    max-width: 1495px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*------- nav header -------*/
.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4vh;
}

.nav-header img {
    width: 115px;
}

.link,
.login-link {
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(14, 13, 13);
    cursor: pointer;
}

.link:hover {
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    margin-left: 10px;
}

.login-link {
    color: #ffff;
    background-color: rgb(20, 18, 18);
    border-radius: 5px;
    width: 95px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-link:hover {
    color: rgb(17, 16, 16);
    background-color: gainsboro;
    border-radius: 5px;
    width: 95px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================ second container ================= */
.container {
    text-align: center;
    padding-top: 90px;
    margin: 0 110px;
}

.sub-title {
    font-weight: 300;
    padding-top: 20px;
    color: gray;
}

.choices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: lightblue;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    margin-top: 50px;
}

.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffff;
    border: 1px solid white;
    border-radius: 5px;
}

.choice i {
    font-size: 35px;
    color: lightblue;
}

.choice p {
    font-size: 15px;
    font-weight: 700;
}

.resources {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.resource {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 10px;
}

.resource img {
    font-size: 40px;
    padding: 20px;
    display: flex;
    margin-bottom: 2rem;
}

.resource p {
    padding: 20px;
    font-size: 15px;
    font-weight: 350;
    color: gray;
}

/*--------- Spacial crush course  --------------*/
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-img img {
    width: 395px;
    height: 210px;
    margin-bottom: 40px;
}

.course-title h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.course-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
}

.fa-circle-play,
.fa-signal {
    margin-right: 5px;
}

.course-btn {
    border-top: 1px solid rgb(197, 197, 197);
    width: 100%;
    text-align: center;
    padding: 20px;
}

.course-btn a {
    text-decoration: none;
    color: black;
}

/*----------- footer ------------*/
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding-top: 4rem;
    margin-left: 7em;
}

.connection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: start;
    align-content: space-between;
}

.footer-logo {
    max-width: 100%;
    margin-bottom: 2rem;
}

.footer-logo img {
    width: 175px;
}

.apps-heading,
.company-heading,
.others-heading,
.social-heading {
    margin-bottom: 2rem;
}

.apps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.app img {
    width: 150px;
}

.company-others {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    margin-left: 20px;
}

li {
    list-style: none;
    margin-bottom: 5px;
}

.icons {
    display: grid;
    grid-template-columns: repeat(5, 50px);
}

/*------- Media Query -------*/
/* 480 */


/* 765 */
@media (min-width: 765px) {
    .nav-btn {
        display: none;
        font-size: 2em;
        margin-left: 4rem;
    }
}

@media (max-width: 765px) {
    .link {
        display: none;
        font-display: block;
    }

    .nav-header img {
        width: 12rem;
        margin-left: 7rem;
    }
}

@media (max-width: 765px) {
    .choices {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 765px) {
    .resource p {
        display: none;
    }
}

@media (max-width: 765px) {
    .courses {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .course-img img {
        width: 100vw;
        height: 100vh;
        margin-bottom: 40px;
    }
}

@media (max-width: 765px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-contact h3,
    .address {
        display: none;
    }

    .icons {
        border-top: 1px;
        margin-top: 4rem;
    }
}